<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Mantenedor Indicador</h5>
    </div>
    <div class="modal-body">
      <mat-card-content>
        <form [formGroup]="formIndicador">
          <mat-form-field class="example-full-width col-12">
            <mat-label>Nombre Indicador</mat-label>
            <input matInput formControlName="nombre" [(ngModel)]="indicador.nom_indicador">
              <mat-error *ngIf="nombre.hasError('required')">Ingrese el nombre del indicador</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width col-12">
            <mat-label>¿Qué se desea medir con él?</mat-label>
            <input matInput formControlName="medicion" [(ngModel)]="indicador.preg_uno">
              <mat-error *ngIf="medicion.hasError('required')">Ingrese el objetivo</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width col-12">
            <mat-label>¿Quién realizará la medición?</mat-label>
            <input matInput formControlName="responsable" [(ngModel)]="indicador.preg_dos">
              <mat-error *ngIf="responsable.hasError('required')">Ingrese el responsable</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width col-12">
            <mat-label>Mecanismo a utilizar</mat-label>
            <input matInput formControlName="mecanismo" [(ngModel)]="indicador.preg_tres">
              <mat-error *ngIf="mecanismo.hasError('required')">Ingrese el mecanismo de medida</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width col-12">
            <mat-label>¿Qué toleranciade desviación podrá determinarse?</mat-label>
            <input matInput formControlName="tolerancia" [(ngModel)]="indicador.preg_cuatro">
            <mat-error *ngIf="tolerancia.hasError('required')">Ingrese la tolerancia</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width col-12">
            <mat-label>¿Qué se harán con los resultados?</mat-label>
            <input matInput type="text" formControlName="resultado" [(ngModel)]="indicador.preg_cinco">
            <mat-error *ngIf="resultado.hasError('required')">Ingrese acciones</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width col-6">
            <mat-label>Sub Procesos</mat-label>
            <select matNativeControl formControlName="subp" [(ngModel)]="indicador.id_subproceso">
              <option [value]="item.id_subproceso" *ngFor="let item of listaSubProceso">{{item.nom_subproceso}}</option>
              
            </select>
            <mat-error *ngIf="subp.hasError('required')">Seleccione un subproceso</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width col-12">
            <mat-label>Fórmula</mat-label>
            <input matInput  formControlName="formula" [(ngModel)]="indicador.formula">
            <mat-error *ngIf="formula.hasError('required')">Ingrese la formula</mat-error> 
          </mat-form-field>

         
        </form>
      </mat-card-content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Cancelar
      </button>
      <button type="button" class="btn btn-primary" (click)="sendIndicador()" ngbAutofocus>
        Guardar
      </button>
    </div>
  </div>
  
