<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Indicadores de desempeño</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Indicadores de desempeño</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row mb-2 d-flex mr-3">
      <mat-form-field class="example-full-width col-6 ml-auto">
        <mat-label>Seleccione un proceso</mat-label>
        <select matNativeControl>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        style="height: 50px;"
        (click)="agregarProceso();"
      >
        Agregar indicador
      </button>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width col-6">
          <mat-label>Buscar</mat-label>
          <input matInput placeholder="Ingrese su búsqueda" />
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col" [ngClass]="">
        <ag-grid-angular
          style="width: 100%; height: 500px"
          class="ag-theme-alpine"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [frameworkComponents]="frameworkComponents"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
